<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">Home</a></li>
			<li {% if current[1] == 'Episodes' %}class='current'{% endif %}><a href="/Episodes">Episodes</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class='current'{% endif %}><a href="/left-sidebar.html">About Us</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class='current'{% endif %}><a target="_blank" href="https://itunes.apple.com/us/podcast/the-scout-team-podcast/id1049464917">Subscribe</a></li>
		</ul>
	</nav>
</div>